<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarContent">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/" id="brand">
                <b><i>App name</i></b>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li *ngIf="userIsAuth()" role="presentation" routerLinkActive="active"><a routerLink="/home">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="! userIsAuth()" role="presentation" routerLinkActive="active"><a routerLink="/login"><i class="fa fa-sign-in"></i> Login</a></li>
                <li *ngIf="! userIsAuth()" role="presentation" routerLinkActive="active"><a routerLink="/register"><i class="fa fa-user-plus"></i> Sign Up</a></li>
                <li *ngIf="userIsAuth()" role="presentation" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle"></i> <span *ngIf="userEmail">{{ userEmail }}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a routerLink="/account/settings"><i class="fa fa-cogs"></i> Account Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li role="presentation"><a routerLink="/login" (click)="logOut()"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>